<% layout('layouts/project-boilerplate') %>

<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Project</li>
    <!-- <li class="breadcrumb-item active" aria-current="page">Create Ticket</li> -->
  </ol>
</nav>

<h1>Projects</h1>

<ul>
  <% for (let project of projects) { %>
  <li>
    <p><a href="/project/<%= project._id %> "> <%= project.title %></a></p>
    <p><%= project.title %> - <%= project.description %></p>
    <p><%= project.owner %> - <%= project.company %></p>
  </li>
  <% }%>
</ul>
