<% layout('templates/account-template') %>
<!-- 
<div class="row">
  <div class="col-6 offset-2">
    <h1 class="text-center">Profile</h1>
  </div>
</div> -->

<div class="my-5">
  <div class="card my-5" style="width: 38rem">
    <div class="card-header p-4">
      <h1 class="card-title text-center">Public Profile</h1>
    </div>

    <div class="card-body">
      <p class="card-text">
        <strong>Name: </strong><%=currentUser.first%> <%=currentUser.last%>
      </p>
      <p class="card-text"><strong>Email: </strong><%=currentUser.email%></p>
      <p class="card-text">
        <strong>Company: </strong><%=currentUser.company%>
      </p>
      <p class="card-text"><strong>Role: </strong><%=currentUser.role%></p>

      <a href="/api/v1/account/editprofile" class="btn btn-outline-dark btn-lg"
        >Update profile</a
      >
    </div>
  </div>
</div>
