<% layout('templates/project-template') %>

<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/api/v1/projects">Projects</a></li>
    <li class="breadcrumb-item">
      <a href="/api/v1/projects/<%= project._id %> "><%= project.title %></a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Issues</li>
  </ol>
</nav>

<div>
  <div>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Ticket ID</th>
            <th scope="col">Opened</th>

            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">Priority</th>
            <th scope="col">Assigned to</th>
            <th scope="col">Last update</th>
          </tr>
        </thead>
        <tbody>
          <% for (let ticket of issues) { %>
          <tr>
            <td
              data-bs-toggle="tooltip"
              data-bs-placement="top"
              title="<%=ticket._id%>"
            >
              <a
                href="/api/v1/projects/<%= project._id %>/issues/<%= ticket._id %>"
              >
                ...<%=`${ticket._id}`.slice(-4)%></a
              >
            </td>

            <td><%= ticket.createDateFormat %></td>
            <td><%= ticket.title %></td>
            <td><%= ticket.description %></td>
            <td><%= ticket.status %></td>
            <td><%= ticket.priority %></td>
            <td><%= ticket.author.fullname %></td>
            <td><%= ticket.lastUpdateFormat %></td>
          </tr>

          <% }%>
        </tbody>
      </table>

      <% if (issues.length === 0 ) { %>
      <h2 class="mt-5 text-center">No tickets found</h2>
      <% }%>
    </div>
  </div>

  <footer class="mt-5"></footer>
</div>
