<% layout('templates/project-template') %>

<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/api/v1/projects">Projects</a></li>
    <li class="breadcrumb-item">
      <a href="/api/v1/projects/<%= project._id%>"><%= project.title%></a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Create Issue</li>
  </ol>
</nav>

<div class="card" style="width: 38rem">
  <div class="card-header p-4">
    <h1 class="card-title">Create Issue</h1>
    <p class="card-text">
      Create an incident record to report and request with an issue you are
      having
    </p>
  </div>

  <div class="card-body">
    <form
      class="new-issue-form w-100"
      action="/api/v1/projects/<%= project._id%>/issues"
      method="post"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          name="ticket[title]"
          id="title"
        />
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          name="ticket[description]"
          id="description"
          aria-label="Description"
        ></textarea>
      </div>

      <div class="mb-3">
        <label class="form-label" for="priority">Priority</label>
        <select class="form-select" name="ticket[priority]" id="priority">
          <!-- <option selected>Status</option> -->
          <option selected value="Low">Low</option>
          <option value="Medium">Medium</option>
          <option value="High">High</option>
          <option value="Very High">Very High</option>
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label" for="owner">Owner</label>
        <select
          class="form-select"
          name="ticket[author]"
          id="owner"
          aria-label="Owner"
        >
          <option value="<%= currentUser.id%>">
            <%= currentUser.first %> <%= currentUser.last %>
          </option>
          <% users.forEach(user => { %>
          <option value="<%= user._id%>">
            <%= user.first%> <%=user.last %>
          </option>

          <% }) %>
        </select>
      </div>

      <!-- 
  <div class="mb-3">
    <label class="form-label" for="owner">Status</label>
    <select class="form-select" name="ticket[owner]" id="status">
      <% for (let user of users) { %>

      <option value="<%=user.fullname %>"><%= user.fullname %></option>
      <% } %>
    </select>
  </div> -->

      <button type="submit" class="btn btn-outline-dark btn-lg">Create</button>
    </form>
  </div>
</div>
