<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <h1>Dashboard</h1>

    <ul>
      <% for (let issue of issues) { %>
      <li>
        <p>TICKET ID: <%= issue.id %></p>
        <p><%= issue.title %> - <%= issue.description %></p>
        <p><%= issue.status %> - <%= issue.author %></p>
      </li>
      <% }%>
    </ul>
  </body>
</html>
