<% layout('layouts/boilerplate') %>
<h1>Dashboard</h1>

<div>
  <a href="/ticket/new">Create ticket</a>
</div>
<ul>
  <% for (let ticket of tickets) { %>
  <li>
    <p><a href="/ticket/<%= ticket._id %> "> <%= ticket.title %></a></p>
    <p><%= ticket.title %> - <%= ticket.description %></p>
    <p><%= ticket.status %> - <%= ticket.author %></p>
  </li>
  <% }%>
</ul>
