<% layout('templates/tickets-template') %>
<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Tickets</li>
    <!-- <li class="breadcrumb-item active" aria-current="page">Library</li> -->
  </ol>
</nav>
<!-- <h1>Dashboard</h1> -->

<div>
  <% for (let ticket of tickets) { %>

  <div class="card mb-3 ticket-card">
    <div class="card-body">
      <h5 class="card-title">
        <a href="/api/v1/tickets/<%= ticket._id %> "> <%= ticket.title %></a>
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">
        <strong>Owner: </strong><%= ticket.author %> - <%= ticket.status %>
      </h6>
      <p class="card-text">
        <strong>Description: </strong><%= ticket.description %>
      </p>
    </div>
  </div>

  <% }%>
</div>
