<% layout('templates/tickets-template') %>

<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/ticket">Tickets</a></li>
    <li class="breadcrumb-item active" aria-current="page">Ticket</li>
  </ol>
</nav>

<h1><%= ticket.title %></h1>
<p><%= ticket.title %> - <%= ticket.description %></p>
<p><%= ticket.status %> - <%= ticket.author %></p>
<footer>
  <form action="/ticket/<%= ticket._id %>?_method=DELETE " method="POST">
    <Button>Delete</Button>
  </form>
  <a href="/ticket/<%= ticket._id %>/edit ">Edit</a>
  <!-- <a href="/dashboard">Dashboard</a> -->
</footer>
