<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Issue Management</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/navigation.css" />
    <link rel="stylesheet" href="/css/dashboard.css" />
    <link rel="stylesheet" href="/css/project.css" />

    <link
      rel="stylesheet"
      href="https://unpkg.com/js-datepicker/dist/datepicker.min.css"
    />
  </head>
  <body class="d-flex flex-column vh-100">
    <%- include('../partials/navbar/signedin-navbar') %>

    <main class="container-fluid my-4">
      <div class="row">
        <div class="col-2 sidebar">
          <%- include('../partials/sidebar/project-sidebar') %>
        </div>
        <div class="col-10">
          <%- include('../partials/flash') %> <%- body %>
        </div>
      </div>
    </main>

    <span class="mt-auto">
      <% if (typeof pagination != "undefined" && pagination === true) {%> <%-
      include('../partials/pagination') %> <% } %><%-
      include('../partials/footer') %>
    </span>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>

    <script>
      var tooltipTriggerList = [].slice.call(
        document.querySelectorAll('[data-bs-toggle="tooltip"]')
      );
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl);
      });

      // const collapseElementList = document.querySelectorAll(".collapse-user");
      // const collapseList = [...collapseElementList].map((collapseEl) => {
      //   collapseEl.addEventListener("click", collapseUser);
      // });

      // function collapseUser() {
      //   new bootstrap.Collapse(this.parentNode.parentNode.parentNode);
      // }

      // var theteam = document.getElementById("current-team").innerHTML;
      // var company = document.getElementById("company").innerHTML;

      // console.log("theteam: ", theteam);
      // const teamElementList = document.querySelectorAll(".team-user");
      // const collapseList = [...teamElementList].map((collapseEl) => {
      //   console.log("team user: ", collapseEl);
      //   collapseEl.addEventListener("click", toggleTeam);
      // });

      // let newTeams = theteam.map((user) => user._id);
      // console.log("newTeams: ", newTeams);

      // function toggleTeam() {
      //   console.log("team click: ", this);

      //   console.log("team:", theteam);
      //   console.log("chikd:", this.parentNode.parentNode.children[1].innerText);
      // }

      // const collapseElementList = [].slice.call(
      //   document.querySelectorAll(".collapse")
      // );
      // document.querySelectorAll(".collapse");
      // const collapseList = collapseElementList.map(function (collapseEl) {
      //   console.log("collapseEl: ", collapseEl);
      //   return new bootstrap.Collapse(collapseEl);
      // });
    </script>
    <script src="https://unpkg.com/js-datepicker"></script>

    <script>
      const startdate = "<%= project.plannedStartDate%>";
      const enddate = "<%= project.plannedEndDate%>";

      const startOpt = startdate ? { minDate: new Date(startdate) } : {};
      const endOpt = enddate ? { maxDate: new Date(enddate) } : {};
      let startPicker = datepicker("#startDate", {
        // Event callbacks.
        onSelect: (instance) => {
          // Show which date was selected.
          endPicker.setMin(new Date(instance.dateSelected));
        },
        dateSelected: new Date(startdate),
        ...endOpt,
      });

      let endPicker = datepicker("#endDate", {
        // Event callbacks.
        onSelect: (instance) => {
          // Show which date was selected.
          startPicker.setMax(new Date(instance.dateSelected));
        },
        dateSelected: new Date(enddate),
        ...startOpt,
      });
    </script>
  </body>
</html>
