<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <img
      id="logo"
      src="/images/bug.png"
      alt="Bug Tracking Logo"
      class="d-inline-block align-text-top"
    />
    <a class="navbar-brand mx-3" href="/">bugger</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link <%= navbar === 'home' && 'active' %>"
            aria-current="page"
            href="/"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link <%= navbar === 'features' && 'active' %>"
            href="/features"
            >Features</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link <%= navbar === 'teams' && 'active' %>"
            href="/teams"
            >For Teams</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link <%= navbar === 'pricing' && 'active' %>"
            href="/pricing"
            >Pricing</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link <%= navbar === 'support' && 'active' %>"
            href="/support"
            >Support</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle <%= navbar === 'account' && 'active' %>"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Account
          </a>
          <ul class="dropdown-menu">
            <% if (!currentUser) { %>
            <li>
              <a class="dropdown-item" href="/api/<%=apiVersion %>/auth/login"
                >Log in</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                href="/api/<%=apiVersion %>/auth/register"
                >Sign up</a
              >
            </li>
            <% } else { %>
            <li>
              <a class="dropdown-item" href="/api/<%=apiVersion %>/auth/logout"
                >Logout</a
              >
            </li>
            <% } %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
