<% layout('templates/projects-template') %>

<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/api/v1/projects">Projects</a></li>
    <li class="breadcrumb-item">
      <a href="/api/v1/projects/<%= project.id %>"><%= project.title %></a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Edit Project</li>
  </ol>
</nav>

<div class="row">
  <div class="col-6 offset-2">
    <h1 class="text-center">Edit Project - <%=project.title%></h1>

    <form action="/api/v1/projects/<%= project.id %>?_method=PUT" method="POST">
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          name="project[title]"
          id="title"
          aria-label="Title"
          value="<%= project.title%>"
        />
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          name="project[description]"
          id="description"
          aria-label="Description"
        >
<%= project.description%></textarea
        >
      </div>

      <div class="mb-3">
        <label class="form-label" for="owner">Owner Name</label>
        <select
          class="form-select"
          name="project[owner]"
          id="owner"
          aria-label="Owner"
        >
          <% if (project.owner.id === currentUser.id) { %>
          <option selected value="<%= currentUser.id %>">
            <%= currentUser.first %> <%= currentUser.last %>
          </option>
          <% } else { %>
          <option value="<%= currentUser.id %>">
            <%= currentUser.first %> <%= currentUser.last %>
          </option>
          <% }%> <% users.forEach(user => { if(user.id !== currentUser.id) {%>
          <% if (project.owner.id === user.id) { %>
          <option selected value="<%= user._id%>">
            <%= user.first%> <%=user.last %>
          </option>
          <% } else { %>

          <option value="<%= user._id%>">
            <%= user.first%> <%=user.last %>
          </option>
          <%} }}) %>
        </select>
      </div>

      <!-- <div>
    <label for="company">Company</label>
    <input type="text" name="project[company]" id="company" />
  </div> -->

      <button type="submit" class="btn btn-outline-dark btn-lg me-2">
        Save
      </button>
      <a
        class="btn btn-outline-danger btn-lg"
        href="/api/v1/projects/<%= project.id %>"
        role="button"
        >Cancel</a
      >
    </form>
  </div>
</div>
