<% layout('templates/projects-template') %>

<!-- <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Project</li>
  </ol>
</nav> -->
<!-- <h1 class="text-center">
  <% if (page === 'mine') { %> My Projects <% } else{ %> Projects <% } %>
</h1> -->
<div class="row">
  <div class="offset-4">
    <h1 class="text-cejnter">
      <% if (page === 'mine') { %> My Projects <% } else{ %> Projects <% } %>
    </h1>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th class="col-1" scope="col">ID</th>
      <th class="col-2" scope="col">Title</th>
      <th class="col-2" scope="col">Owner</th>
      <th class="col-6" scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
    <% for (let project of projects) { %>
    <tr>
      <td
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="<%=project._id%>"
      >
        <a href="/api/v1/projects/<%= project._id %> ">
          ...<%=`${project._id}`.slice(-4)%></a
        >
      </td>
      <td><%= project.title %></td>
      <td><%= project.owner.first %> <%= project.owner.last %></td>
      <td><%= project.description %></td>
    </tr>

    <% }%>
  </tbody>
</table>

<% if (projects.length ===0 ) { %>
<div class="row">
  <div class="col-6">
    <h2 class="mt-5 offset-md-6 offset-2">No projects found</h2>
  </div>
</div>
<% }%>
<!-- <div>
  <% for (let project of projects) { %>
  <div class="card mb-3 project-card">
    <div class="card-body">
      <h5 class="card-title">
        <strong>Project: </strong>
        <a href="/projects/<%= project._id %> "> <%= project.title %></a>
      </h5>
      <h6 class="card-subtitle mb-2 text-muted">
        <strong>Owner: </strong><%= project.owner.first %> <%=
        project.owner.last %>
      </h6>
      <p class="card-text">
        <strong>Description: </strong> <%= project.description %>
      </p>
    </div>
  </div>
  <% }%>
</div> -->
