<% layout('templates/projects-template') %>

<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/api/v1/projects">Projects</a></li>
    <li class="breadcrumb-item active" aria-current="page">
      Create New Project
    </li>
  </ol>
</nav>

<div class="row">
  <div class="col-6 offset-2">
    <h1 class="text-center">Create new Project</h1>

    <form action="/api/v1/projects" method="POST">
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          class="form-control"
          type="text"
          name="title"
          id="title"
          aria-label="Title"
        />
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          name="description"
          id="description"
          aria-label="Description"
        ></textarea>
      </div>

      <div class="mb-3">
        <label class="form-label" for="priority">Priority</label>
        <select class="form-select" name="priority" id="priority">
          <option selected value="Low">Low</option>
          <option value="Medium">Medium</option>
          <option value="High">High</option>
          <option value="Very High">Very High</option>
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label" for="owner">Owner Name</label>
        <select class="form-select" name="owner" id="owner" aria-label="Owner">
          <option selected value="<%= currentUser.id%>">
            <%= currentUser.first %> <%= currentUser.last %>
          </option>
          <% users.forEach(user => { if (user.id !== currentUser.id) { %>
          <option value="<%= user._id%>">
            <%= user.first%> <%=user.last %>
          </option>
          <% } }) %>
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label" for="startDate">Start date</label>
        <input
          class="form-control"
          type="text"
          name="startDate"
          id="startDate"
          aria-label="startDate"
          autocomplete="off"
        />
      </div>

      <div class="mb-3">
        <label class="form-label" for="endDate">Deadline</label>
        <input
          class="form-control"
          type="text"
          name="endDate"
          id="endDate"
          aria-label="endDate"
          autocomplete="off"
        />
      </div>

      <!-- <div>
    <label for="company">Company</label>
    <input type="text" name="project[company]" id="company" />
  </div> -->

      <button type="submit" class="btn btn-outline-dark btn-lg">Create</button>
    </form>
  </div>
</div>
