<% layout('layouts/project-boilerplate') %>

<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/projects">Projects</a></li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= project.title %>
    </li>
  </ol>
</nav>

<div>
  <p><strong>Title:</strong> <%= project.title %></p>
  <p><strong>Description:</strong> <%= project.description %></p>
  <p><strong>Owner:</strong> <%= project.owner %></p>
</div>

<div>
  <h2>Tickets</h2>

  <ul>
    <% for (let ticket of project.issues) { %>
    <li>
      <p><a href="/ticket/<%= ticket._id %> "> <%= ticket.title %></a></p>
      <p>test</p>
      <p><%= ticket.title %> - <%= ticket.description %></p>
      <p><%= ticket.status %> - <%= ticket.author %></p>
    </li>
    <% }%>
  </ul>
</div>
<footer>
  <form action="/projects/<%= project._id %>?_method=DELETE " method="POST">
    <Button>Delete</Button>
  </form>
  <a href="/projects/<%= project._id %>/edit ">Edit</a>
  <!-- <a href="/dashboard">Dashboard</a> -->
</footer>
