<% layout('templates/project-template') %>

<div class="row">
  <div class="col-10">
    <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/api/v1/projects">Projects</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          <%= project.title %>
        </li>
      </ol>
    </nav>
  </div>
  <!-- Hamburger menu option -- Edit & Delete -->
  <div class="col-2">
    <div class="dropdown">
      <button
        class="btn btn-outline-primary"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="currentColor"
          class="bi bi-list"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
          />
        </svg>
      </button>
      <ul class="dropdown-menu">
        <li>
          <a
            class="dropdown-item"
            href="/api/v1/projects/<%= project._id %>/edit "
          >
            Edit
          </a>
        </li>

        <li><hr class="dropdown-divider" /></li>

        <li>
          <!-- Button trigger modal -->
          <button
            type="button"
            class="dropdown-item"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            Delete
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Modal for Delete button -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Project?</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this project? It cannot be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>

        <form
          action="/api/v1/projects/<%= project._id %>?_method=DELETE "
          method="POST"
        >
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div>
  <div class="row">
    <div class="col-6">
      <p><strong>Title:</strong> <%= project.title %></p>
      <p><strong>Description:</strong> <%= project.description %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <p><strong>Lead:</strong> <%= project.owner.fullname %></p>
      <p><strong>Date Created:</strong> <%= project.createdAtDate %></p>
    </div>
    <div class="col-4">
      <p><strong>Priority:</strong> <%= project.priority %></p>
      <p><strong>Status:</strong> <%= project.status %></p>
    </div>

    <div class="col-4">
      <p><strong>Start date:</strong> <%= project.startDateFormat %></p>
      <% if(project.plannedEndDateFormat !== undefined) {%>
      <p>
        <strong>Planned End date:</strong> <%= project.plannedEndDateFormat %>
      </p>
      <% } %>
    </div>
  </div>
</div>

<div>
  <h2>Issues</h2>

  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Ticket ID</th>
          <th scope="col">Opened</th>

          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
          <th scope="col">Priority</th>
          <th scope="col">Assigned to</th>
          <th scope="col">Last update</th>
        </tr>
      </thead>
      <tbody>
        <% (issues).forEach(ticket => { %>

        <tr>
          <td
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="<%=ticket._id%>"
          >
            <a
              href="/api/v1/projects/<%= project._id %>/issues/<%= ticket._id %>"
            >
              ...<%=`${ticket._id}`.slice(-4)%>
            </a>
          </td>
          <td><%= ticket.createdAtDate %></td>
          <td><%= ticket.title %></td>
          <td><%= ticket.description %></td>
          <td><%= ticket.status %></td>
          <td><%= ticket.priority %></td>
          <td><%= ticket.author.fullname %></td>
          <td><%= ticket.updatedAtDate %></td>
        </tr>

        <% }) %>
      </tbody>
    </table>

    <% if (issues.length === 0 ) { %>
    <h2 class="mt-5 text-center">No tickets found</h2>

    <% }%>
  </div>
</div>

<footer class="mt-5"></footer>
