<% layout('layouts/project-boilerplate') %>

<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/projects">Projects</a></li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= project.title %>
    </li>
  </ol>
</nav>

<div>
  <div class="row">
    <div class="col-6">
      <p><strong>Title:</strong> <%= project.title %></p>
      <p><strong>Description:</strong> <%= project.description %></p>
      <p><strong>Lead:</strong> <%= project.owner.fullname %></p>
    </div>
    <div class="col-3">
      <p><strong>Priority:</strong> <%= project.priority %></p>
      <p><strong>Date Created:</strong> <%= project.createDate %></p>
      <p><strong>Stage:</strong> <%= project.stage %></p>
      <p><strong>Planned End date:</strong> <%= project.plannedEndDate %></p>
    </div>
  </div>

  <form action="/projects/<%= project._id %>?_method=DELETE " method="POST">
    <Button>Delete</Button>
  </form>
  <a href="/projects/<%= project._id %>/edit ">Edit</a>
  <!-- <a href="/dashboard">Dashboard</a> -->
</div>

<div>
  <h2>Issues</h2>

  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Ticket ID</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
          <th scope="col">Owner</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < 6; i++) { %> <% let ticket = project.issues[i];
        %>
        <tr>
          <td
            data-bs-toggle="tooltip"
            data-bs-placement="top"
            title="<%=ticket._id%>"
          >
            <a href="/ticket/<%= ticket._id %> ">
              ...<%=`${ticket._id}`.slice(-4)%>
            </a>
          </td>
          <td><a href="/ticket/<%= ticket._id %> "> <%= ticket.title %></a></td>
          <td><%= ticket.description %></td>
          <td><%= ticket.status %></td>
          <td><%= ticket.author.fullname %></td>
        </tr>

        <% }%>
      </tbody>
    </table>
  </div>
</div>

<footer class="mt-5"></footer>
