<% layout('layouts/project-boilerplate') %>

<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/projects">Projects</a></li>
    <li class="breadcrumb-item active" aria-current="page">
      <%= project.title %>
    </li>
  </ol>
</nav>

<div>
  <p><strong>Title:</strong> <%= project.title %></p>
  <p><strong>Description:</strong> <%= project.description %></p>
  <p><strong>Owner:</strong> <%= project.owner %></p>
</div>

<div>
  <h2>Tickets</h2>

  <div>
    <% for (let ticket of project.issues) { %>

    <div class="card mb-3 ticket-card">
      <div class="card-body">
        <h5 class="card-title">
          <strong>Title: </strong>
          <a href="/ticket/<%= ticket._id %> "> <%= ticket.title %></a>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
          <strong>Owner: </strong><%= ticket.author %> - <%= ticket.status %>
        </h6>
        <p class="card-text">
          <strong>Description: </strong><%= ticket.description %>
        </p>
      </div>
    </div>

    <% }%>
  </div>
</div>
<footer>
  <form action="/projects/<%= project._id %>?_method=DELETE " method="POST">
    <Button>Delete</Button>
  </form>
  <a href="/projects/<%= project._id %>/edit ">Edit</a>
  <!-- <a href="/dashboard">Dashboard</a> -->
</footer>
