<% layout('templates/project-template') %>

<nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/api/v1/projects">Projects</a></li>
    <li class="breadcrumb-item">
      <a href="/api/v1/projects/<%= project._id%>"><%= project.title%></a>
    </li>
    <li class="breadcrumb-item">
      <a href="/api/v1/projects/<%= project._id%>/issues">issues</a>
    </li>
    <li class="breadcrumb-item">
      <a href="/api/v1/projects/<%= project._id%>/issues/<%=issue.id%>"
        ><%=issue.id%>></a
      >
    </li>
    <li class="breadcrumb-item active" aria-current="page">Edit Task</li>
  </ol>
</nav>

<div class="card" style="width: 38rem">
  <div class="card-header p-4">
    <h1 class="card-title">Edit Task</h1>
    <p class="card-text">Add task that has been done or will be done</p>
  </div>

  <div class="card-body">
    <form
      class="new-issue-form w-100"
      action="/api/v1/projects/<%= project._id%>/issues/<%= issue._id%>/tasks/<%=task.id%>?_method=PUT"
      method="post"
    >
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          name="task[description]"
          id="description"
          aria-label="Description"
        >
<%=task.description%></textarea
        >
      </div>
      Duration:
      <div class="row mb-3 align-items-center">
        <!-- <div class="col-auto"></div> -->

        <div class="col-auto">
          <label class="form-label" for="hours">Hours</label>
        </div>
        <div class="col-auto">
          <select
            class="form-select"
            name="task[duration][hours]"
            id="hours"
            aria-label="Hours"
          >

          <%let hours = [... Array(24).keys()] ; hours.forEach(hour => { %>
              <option <%= ( task.duration.hours === hour ) ? "selected" : "" %>
                value="<%= hour %>"> <%= hour %> 
              </option>
            <% }) %>
        </select>
        </div>

        <div class="col-auto">
          <label class="form-label" for="minutes">Minutes</label>
        </div>
        <div class="col-auto">
          <select
            class="form-select"
            name="task[duration][minutes]"
            id="minutes"
            aria-label="Minutes"
          >
            <%let minutes = [0, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55]%> <%
            minutes.forEach(minute => { %>
            <option <%= ( task.duration.minutes === minute ) ? "selected" : "" %>
              value="<%=minute%>"><%=minute%></option>
            <% }) %>
          </select>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="owner">Owner</label>
        <select
          class="form-select"
          name="task[author]"
          id="owner"
          aria-label="Owner"
        >
          <option <%= ( task.author._id === currentUser.id ) ? "selected" : "" %>
            value="<%= currentUser.id %>"> <%= currentUser.first %> <%=
            currentUser.last %>
          </option>

          <% users.forEach(user => { if (user.id !== currentUser.id) {  %>
          <option <%= ( task.author.id === user.id ) ? "selected" : "" %>
            value="<%= user._id%>"> <%= user.first%> <%=user.last %>
          </option>
          <% }}) %>

        </select>
      </div>


      <button type="submit" class="btn btn-outline-dark btn-lg">Save</button>
      <a
      class="btn btn-outline-danger btn-lg"
      href="/api/v1/projects/<%= project.id %>/issues/<%= issue._id%>"
      role="button"
      >Cancel</a
    > 
    </form>
  </div>
</div>
